<div class="row">
  <div class="small-12 columns">  <h1>Listing articles</h1> </div>
</div>

<div class="row">
  <div class="small-1 columns"></div>
  <div class="small-10 columns">
    <%= link_to 'New article', new_article_path %>

    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %>
          <td><%= link_to 'Show', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="small-1 columns" style="background-color: chartreuse"></div>
</div>
 <!--TODO Add only authorized users can see the create, delete, etc functions-->