<div class="row">
  <div class="small-12 columns"><h3>Title:</h3><h1><%= @article.title %></h1></div>
</div>
<div class="row">
  <div class="small-8 columns">
    <h3>Text:</h3><p> <%= @article.text %></p>
  </div>
</div>
<div class="row">
  <div class="small-8 columns"><br></div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h4>Comments</h4>
    <%= render @article.comments %>
    <strong>Add a comment:</strong>
    <%= render 'comments/form' %>
    <%= link_to 'Back', articles_path %> |
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>
</div>
